/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #8bbada;
    color: #333;
}

/* Контейнер для всей страницы */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #8bbada;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 8px;
}

/* Заголовок страницы */
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Параграфы с данными */
p {
    font-size: 16px;
    margin: 10px 0;
}

/* Таблица с бронированиями */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Стили для кнопки выхода */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    table, th, td {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

button {
    background-color: #4396ce;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

button:hover {
    background-color: #45a049;
}
